@font-face{
    font-family: IRANSans ;
    src: url("../font/Sans a4fran3/Sans a4fran3.ttf") format("ttf");
    src: url("../font/Sans a4fran3/Sans a4fran3.eot") format("eot");
    src: url("../font/Sans a4fran3/Sans a4fran3.woff") format("woff");
}